.App {

}

/* .navbarLinks {
  color: #FFF;
}

.navbarLinks:hover {
  color: #D2DC2E
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.uliftuNavbar {
  background-color: black;
}

.uliftuNavbar a{
  color: #FFF;
}

.uliftuNavbar a:hover {
  color: #D2DC2E;
  text-decoration: none;
}

.homeJumbotron {
  display: flex;
  justify-content: space-around;
}

.homeJumbotron img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.cardHeader {
  background-color: #D2DC2E;
  height: 5px;
}

@media only screen and (max-width: 500px) {
  .cardContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .successHeader {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 570px) {
  .sectionHeader {
    margin-bottom: 10px;
  }
}


.liftCard {
  background-color: black;
  color: white;
  border-radius: 0;
}

.uliftCardButton {
  border-color: white;
  background-color: black;
  font-family: Roboto;
}

.uliftCardButton:hover {
  background-color:  #D2DC2E;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

